.popup__close-btn {
  position: fixed;
  background: url(../../../images/close-button.svg);
  border: 0;
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
  width: 32px;
  height: 32px;
  align-self: flex-end;
  transform: translate(76px, -74px);
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
}

.popup__close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    transform: translate(22px, -61px);
    background-position: center;
    background-size: cover;
  }
}